@charset "utf-8";
@font-face{
    font-family: 'Pfennig';
    src: url(../FUENTES/Pfennig.eot);
    src: url(../FUENTES/Pfennig.svg);
    src: url(../FUENTES/Pfennig.ttf);
}
@font-face{
    font-family: 'PfennigBold';
    src: url(../FUENTES/PfennigBold.eot);
    src: url(../FUENTES/PfennigBold.svg);
    src: url(../FUENTES/PfennigBold.ttf);
}
@font-face{
    font-family: 'PfennigItalic';
    src: url(../FUENTES/PfennigBoldItalic.eot);
    src: url(../FUENTES/PfennigBoldItalic.svg);
    src: url(../FUENTES/PfennigBoldItalic.ttf);
}
body{
    color: white;
    font-family: 'Pfennig';
}
h1, h2, h3, strong, b{
    font-family: 'PfennigBold';
}
dfn{
   font-family: 'PfennigBoldItalic'; 
}
/*Tamaño de la fuente*/
#principal{
    font-size: 100%;
    text-align: justify;
}

#cabeceraPagina h1{
    font-size: 350%;
    text-align: center;
    line-height: 0%;
    font-variant: small-caps;/*Versalitas al texto*/
}
#cabeceraPagina h2{
 font-size: 250%;   
 text-align: center;
 line-height: 0%;
 font-variant: small-caps;/*Versalitas al texto*/
}
#blog h2{
    font-size: 200%;
    text-align: center;
    line-height: 10%;
}
h3{
    font-size: 170%;
    text-align: center;
    line-height: 10%;
}
#cabeceraPagina{
    background:-webkit-linear-gradient(top, #f0ebeb,#333232, #e00404 30%);/*el 30% quiere decir que a partir del 30% de la cabecera comience a degradarse el tercer color*/
    overflow: hidden;
}
/*#principal seria como el body*/
#principal{
    background-color: rgb(39, 37, 37);
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*Barra de navegacion cabecera*/
#barra{
    background-color: rgb(12, 150, 18);
    height: 50px;
    /*borde interno de la barra de navegacion*/
    padding: 5px;
}
#barra a:link{
    font-family: 'PfennigBold';
    text-decoration: none;
}
/*colocamos el color a cada elemento "li" por separado con el id "barra"  con la funcion :nth-child()*/
#barra ul li:nth-child(1){
    background: #FFFFFF;   
}
#barra ul li:nth-child(2){
    background: #CCCCCC;
}
#barra ul li:nth-child(3){
    background: #999999;
}
#barra ul li{
    display: inline;
    margin: 10px;
    background-color: #e4e4e4;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 10px #FFFFFF;
    border-radius: 1em;/*remplaza cada esquina del borde en un arco*/
}
#sobreContxita img{
margin: 10px;
border-radius: 0.5em;
box-shadow: 0 0 10px #d1d8cb;
}
#sobreContxita aside{
    width: 770px;
    height: 226px;
    margin: 10px, 10px, 10px, 0px;
    float: right;
    box-shadow: 0 0 10px #d1d8cb;
    border-radius: 0.5em
}
/*con el header not cambiamos los valores en este caso el color de todas los elementos header menos los headers con el id="CabeceraImagen"*/
header:not(#CabeceraPagina){
    background-color: rgba(231, 14, 14, 0.3);
}

/*Vinculos*/

a:link{
    color: green;
}
a:visited{
    color: blue;
}
a:hover{
    color: red;
}
a:active:visited{
    color: yellow;
}

/*Articulos*/
/*cambia el color a cada elemento "p" dentro del elemento "article" y que es del tipo "odd" que seria impar y "even" par*/
/*article p:nth-of-type(odd){
    background-color: rgba(94, 86, 163, 0.7);
}
article p:nth-of-type(even){
    background-color: rgba(250,250,250,.5);
}*/
#blog{
   margin: 0px 5px 5px 10px;
   width: 760px;
   background-color: rgba(250, 250,250, .7);
   float: left;
   border-radius: 0.5em
}
#posts{
    margin: 0px 10px 5px 5px;
    width: 210px;
    height: 500px;
    background-color: rgba(250, 250,250, .7);
    float: right;
    border-radius: 0.5em
}
footer{
    background-color: rgba(0,80,250,.7);
    margin-top: 5px;
    width: 1000px;
    height: 80px;
    float: left;
}
/*CONTACTO*/
#formulario{
    background-image: url(../IMAGENES/Teclas.jpg);
    background-repeat: no-repeat;
    background-position: left;
    border: 20px solid; /*coloca un borde de 20px al formulario*/
    border-image: url(../IMAGENES/Marco.jpg)30%  round;/*cuanto mas es el porcentaje mas se repite la imagen y la propiedad round indica que debe bordear en este caso el formulario*/
}
#formulario p, fieldset{
    background-color: rgba(250,250,250,.5);
}
/*BIOGRAFIA*/
#biografia article{
    /*-webkit-column-count: 2;/*Compatibilidad para Google y Safari
    -moz-column-count: 2;Compatibilidad para Firefox
    column-count: 2;*/

    /*Establecemos la separacion de las columnas
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;*/

    /*Establecemos el ancho de las columnas*/
    -webkit-column-width: 10em;
    -moz-column-width: 10em;
    column-width: 10em;
    /*-webkit-column-rule: medium double #666666;
    -moz-column-rule:medium double #666666;
    column-column-rule:medium double #666666;*/
}
.sombra{
    text-shadow: 4px 4px 4px rgb(233, 224, 224);
    -webkit-text-stroke: 2px #33AF89;/*añade un borde exterior a la fuente*/
    -webkit-text-fill-color:#0e0c0c;/*establece el color de reñeno del texto*/
}